@import '../../../commons/styles/defaults/colors';
@import '../../../commons/styles/defaults/typography';

.result {
  align-items: flex-start;
  border-radius: 3 * $base-design-unit;
  border: 1px dashed white;
  display: flex;
  outline: none;
  padding: $base-design-unit;
  text-align: left;
  transition: box-shadow .2s ease-out;

  &:hover { box-shadow: 0px 0px (3 * $base-design-unit) 0px $white; }
}

.photo {
  margin: 0;
  padding: 0;

  img {
    border-radius: 100%;
    width: 12vh;
  }
}

.resultInfo {
  margin-left: 2 * $base-design-unit;
}

.resultTitle { margin: $base-design-unit; }

.resultDetails {
  font-size: $font-size-sm;
  margin-left: $base-design-unit;
}
