@import './variables';

:root {
  // Easter egg: if you found it, be happy – this is your color! <3
  --app-primary-background-color: #339bbe;

  --app-primary-color: #12293d;
  --app-secondary-color: #46cbff;
}
