// Spacing
$base-design-unit: 8px;

// Font sizes (defined as per window's height)
$font-size-huge: 6vh;
$font-size-big: 3vh;
$font-size-mid: 2vh;
$font-size-sm: 1vh;

// Font weights
$font-weight-bold: 700;
$font-weight-semi: 500;

