@import '../../commons/styles/defaults/colors';
@import '../../commons/styles/defaults/typography';

.results {
  text-align: center;
}

.loading {
  margin: 0 auto;
  position: relative;
  top: 20vh;
  width: 10 * $base-design-unit;
}

@keyframes results-list-popup {
  0% { opacity: 0; }
  1% { opacity: 1; }
}

.resultsList {
  animation: results-list-popup .5s ease-out;
  display: flex;
  flex-direction: column;
  list-style: none;
  margin-bottom: 20vh;
  padding: 0 (2 * $base-design-unit);

  & > li:not(:last-child) {
    margin-bottom: 4 * $base-design-unit;
  }
}
