@import '../../commons/styles/defaults/colors';
@import '../../commons/styles/defaults/typography';

.location {
  width: 100%;
}

.title {
  font-size: $font-size-big;
  position: relative;
}

@keyframes location-key {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.locationKey {
  animation: location-key 1s ease-out;
  cursor: pointer;
  text-decoration: underline;
  transition: color .2s ease-out;

  &:hover {
    color: $gray;
    text-decoration: none;
  }
}
